In [290]:
print('Hello World!')

Hello World!

In [291]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [292]:
massage = 'Hello World'

In [293]:
print(massage)

Hello World

In [294]:
massage='Bobby\'s World'

In [295]:
print(massage)

Bobby's World

In [296]:
massage="Bobby's World"

In [297]:
print(massage)

Bobby's World

# Make multiple line string

In [298]:
massage = """I am Bangladeshi. 
I love My country."""

In [299]:
massage

'I am Bangladeshi. \nI love My country.'

In [300]:
massage = "Hello World"

# len() 
## String length

In [301]:
print(len(massage))

11

# Indexing

## Syntax
string.index(value, start, end)

In [302]:
massage[0]      #printing string at 0 index

'H'

In [303]:
massage[10]

'd'

In [304]:
massage.index('W')

6

In [305]:
"Mi casa, su casa.".rindex('casa')

12

# Slicing

In [306]:
massage[0:5]       #printing string in range 0 to 5(exclude 5 index)

'Hello'

In [307]:
massage[:5]

'Hello'

In [308]:
massage[6:]

'World'

# Negative Indexing

In [309]:
massage[-5:-1]

'Worl'

# lower()

In [310]:
massage.lower()

'hello world'

# upper()

In [311]:
massage.upper()

'HELLO WORLD'

# count()

In [312]:
massage.count("Hello")  #counting string or charecter in massage

1

In [313]:
massage.count('l')

3

# find() 

finding the string or character in which index 

### Syntax
string.find(value, start, end)

In [314]:
massage.find("World")

6

In [315]:
massage.find('r')

8

In [316]:
massage.find('Universe')    #if string not in massage returns -1

-1

In [317]:
"Mi casa, su casa.".rfind('casa')

12

In [318]:
"Hello, welcome to my world.".rfind('e')

13

In [319]:
"Hello, welcome to my world.".rfind('e',5,10)

8

# replace()

In [320]:
new_massage = massage.replace('World','Universe')
print(new_massage)

Hello Universe

In [321]:
"one one two one one was a race horse, two two was one too.".replace("one", "three", 3)

'three three two three one was a race horse, two two was one too.'

# String Concatenation
## Adding string with + operator

In [322]:
greeting = 'Hello'
name = 'Rahat'
massage = greeting + ' ' + name + '. Welcome'
print(massage)

Hello Rahat. Welcome

# f-strings – Formatted string literals

In [323]:
massage = f"{greeting.upper()} {name}. Welcome"
print(massage)

HELLO Rahat. Welcome

In [324]:
massage = "{} {}. Welcome".format(greeting,name.upper())
print(massage)

Hello RAHAT. Welcome

# find all operation on a string

In [325]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [326]:
help(str.casefold)

Help on method_descriptor:

casefold(self, /)
    Return a version of the string suitable for caseless comparisons.

# String Methods

# strip()

The strip() method removes any whitespace from the beginning or the end

In [327]:
massage = " Hello, World! "
print(massage.strip())

Hello, World!

# split()

The split() method splits the string into substrings if it finds instances of the separator

In [328]:
massage.split(",")

[' Hello', ' World! ']

In [329]:
massage

' Hello, World! '

# Check String

To check if a certain phrase or character is present in a string, we can use the keywords in or not in

In [330]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [331]:
"ain" not in txt

False

# Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

In [332]:
"We are the so-called \"Vikings\" from the north."

'We are the so-called "Vikings" from the north.'


## Code	    Result	
\'	        "Single Quote"

\\	        "Backslash"	

\n	        "New Line"	

\r	        "Carriage Return	"

\t	        "Tab"	

\b	        "Backspace"	

\f	        "Form Feed"	

\ooo	    "Octal value"

\xhh	    "Hex value"

# capitalize()

The capitalize() method returns a string where the first character is upper case

In [333]:
txt = "hello, and welcome to my world."

In [334]:
txt.capitalize()

'Hello, and welcome to my world.'

# casefold()

The casefold() method returns a string where all the characters are lower case.

In [335]:
txt="Hello, And Welcome To My World!"

In [336]:
txt.casefold()

'hello, and welcome to my world!'

# center()


The center() method will center align the string, using a specified character (space is default) as the fill character.

### Syntax
string.center(length, character)

In [337]:
txt = "banana"

In [338]:
txt.center(20)

'       banana       '

In [339]:
txt.center(20,'.')

'.......banana.......'

# encode()

The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

In [340]:
txt = "My name is Ståle"

In [341]:
txt.encode()

b'My name is St\xc3\xa5le'

In [342]:
print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

# endswith()

The endswith() method returns True if the string ends with the specified value, otherwise False.

### Syntax
string.endswith(value, start, end)

In [343]:
txt = "Hello, welcome to my world."

In [344]:
txt.endswith(".")

True

In [345]:
txt.endswith("to",5,17)

True

In [346]:
txt.endswith("my world.")

True

In [347]:
txt.endswith("my world.", 5, 11)

False

# expandtabs()
The expandtabs() method sets the tab size to the specified number of whitespaces.

### Syntax
string.expandtabs(tabsize)

In [348]:
txt = "H\te\tl\tl\to"

In [349]:
txt.expandtabs(4)

'H   e   l   l   o'

In [350]:
print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

# format()

The format() method formats the specified value(s) and insert them inside the string's placeholder.

### Syntax
string.format(value1, value2...)

In [351]:
txt = "For only {price:.2f} dollars"

In [352]:
txt.format(price = 49)

'For only 49.00 dollars'

In [353]:
"My name is {fname}, I'am {age}".format(fname = "John", age = 36)

"My name is John, I'am 36"

In [354]:
"My name is {0}, I'am {1}".format("John",36)

"My name is John, I'am 36"

In [355]:
"My name is {}, I'am {}".format("John",36)

"My name is John, I'am 36"

In [356]:
"My name is {1}, I am {0}".format(36,'John')

'My name is John, I am 36'

## Formatting Types
Inside the placeholders you can add a formatting type to format the result:

:<		Left aligns the result (within the available space)

:>		Right aligns the result (within the available space)

:^		Center aligns the result (within the available space)

:=		Places the sign to the left most position

:+		Use a plus sign to indicate if the result is positive or negative

:-		Use a minus sign for negative values only

: 		Use a space to insert an extra space before positive numbers (and a minus sign befor negative numbers)

:,		Use a comma as a thousand separator

:_		Use a underscore as a thousand separator

:b		Binary format

:c		Converts the value into the corresponding unicode character

:d		Decimal format

:e		Scientific format, with a lower case e

:E		Scientific format, with an upper case E

:f		Fix point number format

:F		Fix point number format, in uppercase format (show inf and nan as INF and NAN)

:g		General format

:G		General format (using a upper case E for scientific notations)

:o		Octal format

:x		Hex format, lower case

:X		Hex format, upper case

:n		Number format

:%		Percentage format

In [357]:
txt = "You scored {:%}"
print(txt.format(0.25))

#Or, without any decimals:

txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25.000000%
You scored 25%

# isalnum()
The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

### Example of characters that are not alphanumeric: (space)!#%&? etc.

In [358]:
"Company12".isalnum()

True

In [359]:
"Company,12".isalnum()

False

In [360]:
"Company 12".isalnum()

False

# isalpha()
The isalpha() method returns True if all the characters are alphabet letters (a-z).

In [361]:
"Rahat".isalpha()

True

In [362]:
"Rahat42".isalpha()

False

# isdecimal()
The isdecimal() method returns True if all the characters are decimals (0-9).

This method is used on unicode objects.

In [363]:
"\u0033".isdecimal()    #unicode for 3

True

In [364]:
"\u0030".isdecimal()    #unicode for 0

True

In [365]:
"\u0047".isdecimal()    #unicode for G

False

In [366]:
"3".isdecimal()

True

In [367]:
"0.3".isdecimal()

False

# isdigit()

In [368]:
"3456".isdigit()

True

In [369]:
"\u00B2".isdigit()   #unicode for ²

True

In [370]:
"X\u00B2"

'X²'

# isidentifier()
The isidentifier() method returns True if the string is a valid identifier, otherwise False.

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

In [371]:
"deMo".isidentifier()

True

In [372]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

# islower()

In [373]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

# isnumeric()

In [374]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())

True
True
False

In [375]:
"2343245".isnumeric()

True

# isprintable()

The isprintable() method returns True if all the characters are printable, otherwise False.

In [376]:
"Hello! Are you #1?".isprintable()

True

In [377]:
"Hello!\nAre you #1?".isprintable()

False

# isspace()
The isspace() method returns True if all the characters in a string 
are whitespaces, otherwise False.

In [378]:
"    ".isspace()

True

In [379]:
"    a".isspace()

False

# istitle()
The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

In [380]:
"Hello, And Welcome To My World!".istitle()

True

In [381]:
"Hello, And Welcome To My world!".istitle()

False

In [382]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

# isupper()

In [383]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

# join()
The join() method takes all items in an iterable and joins them into one string.

### Syntax
string.join(iterable)

In [384]:
myTuple = ("John", "Peter", "Vicky")

In [385]:
"#".join(myTuple)

'John#Peter#Vicky'

In [386]:
" ".join(myTuple)

'John Peter Vicky'

In [387]:
"".join(myTuple)

'JohnPeterVicky'

In [388]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

# ljust() & rjust()
The ljust() method will left align the string, using a specified character (space is default) as the fill character.

In [389]:
"Rahat".ljust(10)+"is my name"

'Rahat     is my name'

In [390]:
"Rahat".ljust(10,'.')+"is my name"

'Rahat.....is my name'

In [391]:
"Rahat".rjust(10,'.')+" is my name"

'.....Rahat is my name'

# strip()
The lstrip() method removes any leading characters (space is the default leading character to remove)

In [392]:
",,,,,ssaaww.....banana".lstrip(",.asw")

'banana'

In [393]:
",,,,,ssaaww.....banana".strip(",.asw")

'banan'

In [394]:
",,,,,ssaaww.....banana".rstrip(",.asw")

',,,,,ssaaww.....banan'

In [395]:
"   Rahat   ".strip()+" is my name"

'Rahat is my name'

In [396]:
",,,,,rrttgg.....banana....rrr".strip(",.grt")

'banana'

# maketrans()
The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.

### Syntax
string.maketrans(x, y, z)

## Parameter Values

Parameter	Description

x       ->  Required. If only one parameter is specified, this has to be a dictionary describing how to perform the replace. If two or more parameters are specified, this parameter has to be a string specifying the characters you want to replace.

y       ->  Optional. A string with the same length as parameter x. Each character in the first parameter will be replaced with the corresponding character in this string.

z       ->  Optional. A string describing which characters to remove from the original string.

In [397]:
"Hello Sam".maketrans('S','R')

{83: 82}

In [398]:
"Hello Sam".translate({83: 82})

'Hello Ram'

In [399]:
"Hello Sam".translate("Hello Sam".maketrans('S','R'))

'Hello Ram'

In [400]:
txt = "Good night Sam!";
x = "mSa";
y = "eJo";
z = "odnght";
mytable = txt.maketrans(x, y, z);
print(txt.maketrans(x, y, z));
print(txt.translate(mytable));

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
G i Joe!

# partition()

In [401]:
"I could eat bananas all day".partition('bananas')

('I could eat ', 'bananas', ' all day')

In [402]:
"I could eat bananas all day".partition(' ')

('I', ' ', 'could eat bananas all day')

In [403]:
"I could eat bananas all day".partition('apples')

('I could eat bananas all day', '', '')

In [404]:
"I could eat bananas all day, bananas are my favorite fruit".rpartition('bananas')

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

# split()
The split() method splits a string into a list.
### Syntax
string.split(separator, maxsplit)

In [405]:
"My name is Rahat".split()

['My', 'name', 'is', 'Rahat']

In [406]:
"My name is Rahat".split(' ')

['My', 'name', 'is', 'Rahat']

In [407]:
'apple,banana,pineapple,orange,goava,cherry'.split(',')

['apple', 'banana', 'pineapple', 'orange', 'goava', 'cherry']

In [408]:
'apple,banana,pineapple,orange,goava,cherry'.split(',',3)

['apple', 'banana', 'pineapple', 'orange,goava,cherry']

In [409]:
'apple,banana,pineapple,orange,goava,cherry'.rsplit(',',3)

['apple,banana,pineapple', 'orange', 'goava', 'cherry']

# splitlines()

In [410]:
"Thank you for the music\nWelcome to the jungle".splitlines()

['Thank you for the music', 'Welcome to the jungle']

In [411]:
"Thank you for the music\nWelcome to the jungle".splitlines(True)

['Thank you for the music\n', 'Welcome to the jungle']

# startswith()

In [412]:
"Hello, welcome to my world.".startswith('Hello')

True

In [413]:
"Hello, welcome to my world.".startswith('wel',7,20)

True

# swapcase()

In [414]:
"Hello My Name Is PETER".swapcase()

'hELLO mY nAME iS peter'

# title()

In [415]:
"Welcome to my world".title()

'Welcome To My World'

In [416]:
"hello b2b2b2 and 3g3g3g".title()

'Hello B2B2B2 And 3G3G3G'

# zfill()

The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

### Syntax
string.zfill(len)

In [417]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

In [418]:
help(str.zfill)

Help on method_descriptor:

zfill(self, width, /)
    Pad a numeric string with zeros on the left, to fill a field of the given width.

    The string is never truncated.