# List

In [591]:
courses = ['History','Math','Physics','CompSci']

In [592]:
courses

['History', 'Math', 'Physics', 'CompSci']

In [593]:
dir(courses)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [594]:
courses

['History', 'Math', 'Physics', 'CompSci']

# Indexing

In [595]:
courses[2]

'Physics'

In [596]:
courses[-3]

'Math'

## Range of Indexes

In [597]:
courses[1:3]

['Math', 'Physics']

In [598]:
courses[:3]

['History', 'Math', 'Physics']

In [599]:
courses[-3:-1]

['Math', 'Physics']

In [600]:
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [601]:
courses

['History', 'Math', 'Physics', 'CompSci']

In [602]:
courses.index('Math')

1

In [603]:
courses.index('Math',1,3)

1

# Loop Through a List
Print all items in the list, one by one:

In [604]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [605]:
courses

['History', 'Math', 'Physics', 'CompSci']

In [606]:
for index, course in enumerate (courses):
    print(index, course)

0 History
1 Math
2 Physics
3 CompSci

In [607]:
for index, course in enumerate (courses,start=1):
    print(index, course)

1 History
2 Math
3 Physics
4 CompSci

# Check if Item Exists

In [608]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# List Length

In [609]:
len(thislist)

3

# Add Items #

# append() 
add item in the last index

In [610]:
courses

['History', 'Math', 'Physics', 'CompSci']

In [611]:
courses.append('Thermodynamics')

In [612]:
courses

['History', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

# insert()
add item in a given index
### Syntax
list.insert(position, element)

In [613]:
courses

['History', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

In [614]:
courses.insert(0,'Fluid Mechanics')

In [615]:
courses

['Fluid Mechanics', 'History', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

# Remove Item

# remove()

In [616]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [617]:
courses

['Fluid Mechanics', 'History', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

In [618]:
courses.remove('History')

In [619]:
courses

['Fluid Mechanics', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

# pop()
The pop() method removes the specified index, (or the last item if index is not specified):

In [620]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [621]:
courses

['Fluid Mechanics', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

In [622]:
courses.pop()

'Thermodynamics'

In [623]:
courses

['Fluid Mechanics', 'Math', 'Physics', 'CompSci']

In [624]:
courses.pop(1)

'Math'

In [625]:
courses

['Fluid Mechanics', 'Physics', 'CompSci']

# del
The del keyword removes the specified index:

In [626]:
courses = ['Fluid Mechanics', 'History', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

In [627]:
del courses[1]

In [628]:
courses

['Fluid Mechanics', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

# clear()
The clear() method empties the list:

In [629]:
courses

['Fluid Mechanics', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

In [630]:
courses.clear()

In [631]:
courses

[]

# copy()

In [632]:
courses = ['Fluid Mechanics', 'History', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

In [633]:
copy_courses = courses.copy()

In [634]:
copy_courses

['Fluid Mechanics', 'History', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

## Another way to copy a list

In [635]:
my_courses = list(courses)

In [636]:
my_courses

['Fluid Mechanics', 'History', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

# Join Two Lists

In [637]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

In [638]:
list1 + list2

['a', 'b', 'c', 1, 2, 3]

### by using loop

In [639]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

In [640]:
list1

['a', 'b', 'c', 1, 2, 3]

# extend()
Use the extend() method to add list2 at the end of list1:

In [641]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

In [642]:
list1.extend(list2)

In [643]:
list1

['a', 'b', 'c', 1, 2, 3]

# The list() Constructor

In [644]:
list(("apple", "banana", "cherry")) # note the double round-brackets

['apple', 'banana', 'cherry']

# count()
Returns the number of elements with the specified value

In [645]:
help(list.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [646]:
list1 = [1,2,3,2,3,4,3,1]

In [647]:
list1.count(1)

2

In [648]:
list1.count(3)

3

# reverse()

In [649]:
help(list.reverse)

Help on method_descriptor:

reverse(self, /)
    Reverse *IN PLACE*.

In [650]:
courses

['Fluid Mechanics', 'History', 'Math', 'Physics', 'CompSci', 'Thermodynamics']

In [651]:
courses.reverse()

In [652]:
courses

['Thermodynamics', 'CompSci', 'Physics', 'Math', 'History', 'Fluid Mechanics']

# sort()

In [653]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [654]:
courses

['Thermodynamics', 'CompSci', 'Physics', 'Math', 'History', 'Fluid Mechanics']

In [655]:
courses.sort()

In [656]:
courses

['CompSci', 'Fluid Mechanics', 'History', 'Math', 'Physics', 'Thermodynamics']

In [657]:
courses.sort(reverse=True)

In [658]:
courses

['Thermodynamics', 'Physics', 'Math', 'History', 'Fluid Mechanics', 'CompSci']

In [659]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [660]:
courses.sort(key=len)

In [661]:
courses

['Math', 'Physics', 'History', 'CompSci', 'Thermodynamics', 'Fluid Mechanics']

In [662]:
sorted_courses = sorted(courses)

In [663]:
sorted_courses

['CompSci', 'Fluid Mechanics', 'History', 'Math', 'Physics', 'Thermodynamics']

# sum max min

In [664]:
num_list = [ 1,3,5,4,2,6,7]

In [665]:
sum(num_list)

28

In [666]:
max(num_list)

7

In [667]:
min(num_list)

1

# ->list to str
# ->str to list
# join() and split()

In [668]:
courses

['Math', 'Physics', 'History', 'CompSci', 'Thermodynamics', 'Fluid Mechanics']

In [669]:
courses_str = ', '.join(courses)

In [670]:
courses_str

'Math, Physics, History, CompSci, Thermodynamics, Fluid Mechanics'

In [671]:
courses_list = courses_str.split(', ')

In [672]:
courses_list

['Math', 'Physics', 'History', 'CompSci', 'Thermodynamics', 'Fluid Mechanics']

# Python Tuples

In [673]:
thistuple = ("apple", "banana", "cherry")

In [674]:
thistuple

('apple', 'banana', 'cherry')

In [675]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Indexing

In [676]:
thistuple[1]

'banana'

In [677]:
thistuple.index('cherry')

2

In [678]:
thistuple[-1]

'cherry'

In [679]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

In [680]:
thistuple[2:5]

('cherry', 'orange', 'kiwi')

In [681]:
thistuple[-4:-1]

('orange', 'kiwi', 'melon')

# Check if Item Exists

In [682]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Tuple Length

In [683]:
thistuple

('apple', 'banana', 'cherry')

In [684]:
len(thistuple)

3

# count()

In [685]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [686]:
thistuple.count(5)

2

# Python Sets

In [687]:
thisset = {"apple", "banana", "cherry"}

In [688]:
thisset

{'apple', 'banana', 'cherry'}

In [689]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# loop through the set items using a for loop

In [690]:
fruits = {"apple", "banana", "cherry"}

for fruit in fruits:
  print(fruit)

banana
apple
cherry

In [691]:
fruits = {"apple", "banana", "cherry"}

for item,fruit in enumerate (fruits):
  print(item,fruit)

0 banana
1 apple
2 cherry

# Check in Set

In [692]:
'banana' in {"apple", "banana", "cherry"}

True

# Add Items

# add()

In [693]:
fruits = {"apple", "banana", "cherry"}
fruits.add('orange')

In [694]:
fruits

{'apple', 'banana', 'cherry', 'orange'}

# update()

In [695]:
fruits = {"apple", "banana", "cherry"}

In [696]:
fruits.update({"orange", "mango"})

In [697]:
fruits

{'apple', 'banana', 'cherry', 'mango', 'orange'}

In [698]:
fruits.update(["grapes"])

In [699]:
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [700]:
fruits.update(("grapes","berry"))
print(fruits)

{'banana', 'berry', 'grapes', 'cherry', 'apple', 'mango', 'orange'}

In [701]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

In [702]:
set1.update(set2)

In [703]:
set1

{1, 2, 3, 'a', 'b', 'c'}

# len()

In [704]:
len(fruits)

7

 # remove()

In [705]:
fruits = {'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [706]:
fruits.remove('banana')

In [707]:
fruits

{'apple', 'cherry', 'grapes', 'mango', 'orange'}

# discard()

In [708]:
fruits

{'apple', 'cherry', 'grapes', 'mango', 'orange'}

In [709]:
fruits.discard('mango')

In [710]:
fruits

{'apple', 'cherry', 'grapes', 'orange'}

# Note: 
## * If the item to remove does not exist, remove() will raise an error.
## * If the item to remove does not exist, discard() will NOT raise an error.

# pop()

In [711]:
fruits = {'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [712]:
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [713]:
fruits.pop()

'banana'

In [714]:
fruits

{'apple', 'cherry', 'grapes', 'mango', 'orange'}

In [715]:
help(set.pop)

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

# clear()

In [716]:
fruits = {'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [717]:
fruits.clear()

In [718]:
fruits

set()

# Join Two Sets

# union()

In [719]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

In [720]:
set1.union(set2)

{1, 2, 3, 'a', 'b', 'c'}

# The set() Constructor

In [721]:
set(("apple", "banana", "cherry")) # note the double round-brackets

{'apple', 'banana', 'cherry'}

# add()

In [722]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")

In [723]:
fruits

{'apple', 'banana', 'cherry', 'orange'}

# copy()

In [724]:
copy_fruits = fruits.copy()

In [725]:
copy_fruits

{'apple', 'banana', 'cherry', 'orange'}

# difference()

In [726]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

In [727]:
set1.difference(set2)

{'banana', 'cherry'}

# difference_update()

In [728]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

In [729]:
set1.difference_update(set2)

In [730]:
set1

{'banana', 'cherry'}

The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

# intersection()

In [731]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

In [732]:
set1.intersection(set2)

{'apple'}

# intersection_update()

In [733]:
set1.intersection_update(set2)

In [734]:
set1

{'apple'}

# isdisjoint()
The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

In [735]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

In [736]:
set1.isdisjoint(set2)

False

In [737]:
set1 = {1,2,3}
set2 = {4,5,6}

In [738]:
set1.isdisjoint(set2)

True

# issubset()

In [739]:
 set1 = {"a", "b", "c"}
 set2 = {"f", "e", "d", "c", "b", "a"}

In [740]:
set1.issubset(set2)

True

# symmetric_difference()
### The returned set contains a mix of items that are not present in both sets.

In [741]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

In [742]:
set1.symmetric_difference(set2)

{'banana', 'cherry', 'google', 'microsoft'}

In [743]:
set1.symmetric_difference_update(set2)

In [744]:
set1

{'banana', 'cherry', 'google', 'microsoft'}