# Python Dictionary

In [245]:
student = {'name': 'Rahat','age': 22,'courses': ['CS','ME']}

In [246]:
student

{'name': 'Rahat', 'age': 22, 'courses': ['CS', 'ME']}

In [247]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [248]:
student['name']

'Rahat'

In [249]:
student['courses']

['CS', 'ME']

In [250]:
student['phone']

KeyError: 'phone'

we get an error as phone is not in student

# get()

In [251]:
student.get('name')

'Rahat'

In [252]:
student.get('phone','Not found')

'Not found'

# Updating

In [253]:
student

{'name': 'Rahat', 'age': 22, 'courses': ['CS', 'ME']}

In [254]:
student['phone'] = '01555555555'
student['name'] = 'Roni'

In [255]:
student.get('phone')

'01555555555'

In [256]:
student

{'name': 'Roni', 'age': 22, 'courses': ['CS', 'ME'], 'phone': '01555555555'}

# update()

In [257]:
student

{'name': 'Roni', 'age': 22, 'courses': ['CS', 'ME'], 'phone': '01555555555'}

In [258]:
student.update({'name': 'Rahat','phone': '01777777777'})

In [259]:
student

{'name': 'Rahat', 'age': 22, 'courses': ['CS', 'ME'], 'phone': '01777777777'}

# del

In [260]:
student

{'name': 'Rahat', 'age': 22, 'courses': ['CS', 'ME'], 'phone': '01777777777'}

In [261]:
del student['phone']

In [262]:
student

{'name': 'Rahat', 'age': 22, 'courses': ['CS', 'ME']}

# pop() and popitem()
The popitem() method removes the last inserted item

In [263]:
student = {'name': 'Rahat', 'age': 22, 'courses': ['CS', 'ME'], 'phone': '01777777777'}

In [264]:
student.pop('phone')

'01777777777'

In [265]:
student

{'name': 'Rahat', 'age': 22, 'courses': ['CS', 'ME']}

In [266]:
student.popitem()

('courses', ['CS', 'ME'])

In [267]:
student

{'name': 'Rahat', 'age': 22}

# len()

In [268]:
student = {'name': 'Rahat', 'age': 22, 'courses': ['CS', 'ME'], 'phone': '01777777777'}

In [269]:
len(student)

4

# items() keys() and values()

In [270]:
student = {'name': 'Rahat', 'age': 22, 'courses': ['CS', 'ME'], 'phone': '01777777777'}

In [271]:
student.keys()

dict_keys(['name', 'age', 'courses', 'phone'])

In [272]:
student.values()

dict_values(['Rahat', 22, ['CS', 'ME'], '01777777777'])

In [273]:
student.items()

dict_items([('name', 'Rahat'), ('age', 22), ('courses', ['CS', 'ME']), ('phone', '01777777777')])

In [274]:
for key in student:
    print(key)

name
age
courses
phone

In [275]:
for key in enumerate(student,1):
    print(key)

(1, 'name')
(2, 'age')
(3, 'courses')
(4, 'phone')

In [276]:
for key ,value in student.items():
    print(key,value)

name Rahat
age 22
courses ['CS', 'ME']
phone 01777777777

In [277]:
for key,value in enumerate(student.items(),1):
    print(key,value)

1 ('name', 'Rahat')
2 ('age', 22)
3 ('courses', ['CS', 'ME'])
4 ('phone', '01777777777')

# clear()

In [278]:
student = {'name': 'Rahat', 'age': 22, 'courses': ['CS', 'ME'], 'phone': '01777777777'}

In [279]:
student.clear()

In [280]:
student

{}

# copy()

In [282]:
student = {'name': 'Rahat', 'age': 22, 'courses': ['CS', 'ME'], 'phone': '01777777777'}

In [283]:
copy_student = student.copy()

In [284]:
copy_student

{'name': 'Rahat', 'age': 22, 'courses': ['CS', 'ME'], 'phone': '01777777777'}

In [285]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)

In [286]:
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Nested Dictionaries
A dictionary can also contain many dictionaries, this is called nested dictionaries.

In [287]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [288]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

Or, if you want to nest three dictionaries that already exists as dictionaries:

In [289]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [290]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

# fromkeys()
### The fromkeys() method returns a dictionary with the specified keys and the specified value.

In [299]:
key = ('key1', 'key2', 'key3')
value = 0

In [300]:
dict.fromkeys(key, value)

{'key1': 0, 'key2': 0, 'key3': 0}

In [301]:
key = ('key1', 'key2', 'key3')

In [302]:
dict.fromkeys(key)

{'key1': None, 'key2': None, 'key3': None}

# setdefault()
The setdefault() method returns the value of the item with the specified key.

If the key does not exist, insert the key, with the specified value

In [306]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [307]:
car.setdefault("model", "Bronco")

'Mustang'

In [308]:
car.setdefault("color", "white")

'white'

In [309]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}